* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    width: 300px;
    margin: 50px auto;
    padding: 15px 30px;
    border-radius: 10px;
    border: 2px solid lightcoral;
}

span {
    display: inline-block;
    width: calc(100% / 10 - 20px);
    height: 50px;
    text-align: center;
    line-height: 50px;
    margin: 10px;
    border-radius: 5px;
    color: white;
    background-color: lightcoral;
}

@media screen and (max-width: 768px) {

    .container {
        width: 90%;
    }
    
    h1 {
        text-align: center;
        width: 200px;
        margin: 25px auto;
    }

    span {
        width: calc(100% / 5 - 20px);
    }

}

@media screen and (max-width: 400px) {

    .container {
        width: 95%;
    }
   
    span {
        width: calc(100% / 3 - 10px);
        margin: 5px;
    }

    span:last-child {
        width: calc(100% - 10px);
        margin: 5px;
    }

}
